.simpleForm {
  border: 1px solid rgb(128, 128, 128);
  display: inline-block;
  padding: var(--space-md);
  & label {
    display: block;
    margin-top: var(--space-sm);
  }
  // & button {

  // }
}
